<!DOCTYPE html>
<html lang="<%= @lang %>">
  <head>
    <title>RubyConf Peru — 2015</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          RubyConf Peru
        </a>
      </h1>
      <input type="checkbox" id="toggle">
      <label for="toggle"><i class="fa fa-bars"></i></label>
      <nav>
        <ul>
          <li><a href="#speakers"><%= t("nav_speakers") %></a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#location"><%= t("nav_location") %></a></li>
        </ul>
      </nav>
    </header>

    <section id="intro">
      <img src="../img/logo.png">
      <p><i><%= t("presents") %></i></p>
      <h2>Ruby Conf Lima</h2>
      <p><%= t("date") %></p>
      <a href="#" class="action buy">
        <i class="fa fa-ticket"></i>
        <%= t("register") %>
      </a>
    </section>
  </body>
</html>
